/* client/src/components/Navbar.css */

.navbar {
  background-color: #34495e; /* Dark blue background */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky; /* Keeps navbar at the top when scrolling */
  top: 0;
  z-index: 999; /* Ensures it stays on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Pushes logo to left, menu to right */
  align-items: center;
  height: 80px;
  max-width: 1300px; /* Max width of the content inside navbar */
  width: 100%;
  padding: 0 20px; /* Padding on left/right */
}

.navbar-logo {
  color: #ecf0f1; /* Light grey for text */
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto); /* Adjust number of columns based on menu items */
  grid-gap: 10px; /* Space between menu items */
  list-style: none; /* Removes bullet points */
  text-align: center;
  width: 60vw; /* Occupy 60% of viewport width */
  justify-content: end; /* Pushes menu items to the right */
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-links {
  color: #ecf0f1;
  text-decoration: none;
  padding: 8px 15px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
  border-radius: 5px; /* Rounded corners for links */
}

.nav-links:hover {
  background-color: #5d6d7e; /* Slightly lighter blue on hover */
  color: #fff;
  border-radius: 4px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px; /* Below the navbar */
    left: -100%; /* Off-screen by default */
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #34495e;
  }

  .nav-menu.active {
    background: #34495e;
    left: 0; /* Slide in */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #5d6d7e;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
}